@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    color: #2e3544;
}

body, html{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #d1d1d1;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h2{
    letter-spacing: 10px;
    font-size: 35px;
    color: #2e3544;
}
.underline{
    height: 4px;
    background-color: #0070ff;
    width: 20%;
    margin: 0px 0px 30px 0px;
}
.review{
    background-color: white;
    width: 650px;
    height: 480px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px -1px 29px -10px rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.img-container{
    background-image: url(images/1.jpg);
    box-shadow: 19px -17px 0px -7px rgba(8,165,250,1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    border-radius: 125px;
    
}

.img-container p {
    font-size: 60px;
    background-color: rgba(8,165,250,1);
    width: 70px;
    height: 70px;
    line-height: 90px;
    text-align: center;
    border-radius: 35px;
    color: #FFF;
    margin-top: 0px;
}


.name h1{
    margin: 10px 0px 0px 0px;
    letter-spacing: 3px;
}

.prof h1{
    margin: 0px 0px 10px 0px;
    color: #40f7ff;
    font-weight: 500;
}

.desc p{
    margin: 0px 0px 20px 0px;
    color: #9cb2e3;
    text-align: center;
    height: 70px;
}

.buttons button{
    color: #40f7ff;
    font-size: 30px;
    cursor: pointer;
    line-height: 20px;
    background: transparent;
    border: none;
    margin: 0px 10px 25px 10px;
}

.surprise button{
    font-size: 15px;
    border-radius: 20px;
    border: 2px solid #0070ff;
    cursor: pointer;
    background: -webkit-linear-gradient(#40f7ff, #0070ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




@media(max-width: 768px) and (min-width: 580px){
    .title h2 {
        font-size: 25px;
    }
    .underline{
        width: 15%;
    }
    .review{
        width: 500px;
        height: 360px;
    }
    .img-container{
        width: 120px;
        height: 120px;
        box-shadow: 12px -10px 0px 0px rgba(8,165,250,1);
    }
    .name h1{
        font-size: 18px;
    }
    .prof h1{
        font-size: 16px;
    }
    .desc p{
        font-size: 15px;
    }
    .img-container p{
        width: 35px;
        height: 35px;
        font-size: 30px;
        line-height: 45px;
    }
}

@media (max-width: 567px){
    .title h2{
        font-size: 18px;
        letter-spacing: 6px;
    }
    .underline{
        width: 10%;
    }
    .review{
        width: 80%;
        height: 50%;
        padding: 8px;
    }
    .img-container{
        width: 50px;
        height: 50px;
        box-shadow: 8px -3px 0px -2px rgba(8,165,250,1);
    }
    .img-container p{
        width: 20px;
        height: 20px;
        line-height: 26px;
        font-size: 20px;
    }
    .name h1{
        font-size: 9px;
    }
    .prof h1{
        font-size: 10px;
    }
    .desc p{
        font-size: 10px;
    }

    .buttons button{
        font-size: 20px;
        margin: 0px 10px 8px 10px;
    }
    .surprise button{
        font-size: 10px;
    }
}


